<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atom Cloud - Вход</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body-auth">
<div class="container">
    <div th:if="${param.error}" class="error-container">
        <p>Неверный логин или пароль</p>
    </div>
    <div th:if="${param.logout}" class="success-container">
        <p>Вы вышли из системы</p>
    </div>
    <div class="form-container">
        <form id="loginForm" th:action="@{/auth/login}" method="post">
            <h2>Вход в Atom Cloud</h2>
            <input type="text" id="username" name="username" placeholder="Введите логин" required>
            <input type="password" id="password" name="password" placeholder="Введите пароль" required>
            <button type="submit" value="Log in">Войти</button>
            <p>Нет аккаунта? <a href="/auth/register">Зарегистрироваться</a></p>
        </form>
    </div>
</div>
</body>
</html>