<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация успешна - Atom Cloud</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body-auth">

<div class="success-container">
    <h2>Регистрация завершена!</h2>
    <p>Вы успешно создали аккаунт. Теперь можно войти.</p>
    <button onclick="window.location.href='/auth/login'">Войти</button>
</div>

</body>
</html>