<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация успешна - Atom Cloud</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body-auth">

<div class="success-container">
    <h2>Регистрация завершена!</h2>
    <p>Вы успешно создали аккаунт. Теперь можно войти.</p>
    <button onclick="window.location.href='/auth/login'">Войти</button>
</div>

</body>
</html>