<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atom Cloud - Ошибка регистрации</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body-auth">

<div class="error-container">
    <h2>Ошибка регистрации</h2>
    <p>Проверьте введенные логин, пароль</p>
    <button onclick="window.location.href='/auth/register'">Попробовать снова</button>
    <p>Уже есть аккаунт? <a href="/auth/login">Войти</a></p>
</div>

</body>
</html>