<main class="file-area" th:fragment="file-area">
    <nav class="breadcrumbs">
        <span th:unless="${breadcrumbs}">
        <span> / </span>
            <a> main </a>
        </span>
        <span th:each="breadcrumb : ${breadcrumbs}">
            <span> / </span>
            <a th:href="@{${breadcrumb.path}}" th:text="${breadcrumb.name}"></a>
        </span>
    </nav>
    <div class="file-grid">
        <div class="file-item" th:each="folder : ${folders}">
            <input type="checkbox" class="folder-checkbox" th:value="${folder.name}">
            <img th:src="@{/images/folder.png}" height="70">
            <div class="file-icon"  >
                <a th:href="@{'/storage/my/' + ${path} + ${#strings.replace(folder.name, '/', '')}}">
                    <span th:title="${folder.name}" th:text="${folder.name.length() > 15 ? folder.name.substring(0, 10)  : folder.name}">Имя папки</span>
                </a>
            </div>
        </div>
        <div class="file-item" th:each="file : ${files}">
            <input type="checkbox" class="file-checkbox" th:value="${file.name}">
            <img th:src="@{/images/file.png}" height="70">
            <div class="file-icon"  >
                <span th:title="${file.name}" th:text="${file.name.length() > 15 ? file.name.substring(0, 10) + '...' + file.name.substring(file.name.lastIndexOf('.')) : file.name}">
            Имя файла
        </span>
            </div>
        </div>
    </div>
</main>
