<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atom Cloud - Storage</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/ui.js"></script>
</head>

<body>
<header class="dashboard-header">
    <h1 onclick="window.location.href='/'">Atom Cloud</h1>
    <div class="user-info" th:if="${user}">
        <span th:text="${user}">Гость</span>
        <button class="logout-btn" onclick="window.location.href='/auth/logout'">Выйти</button>
    </div>
</header>
<div class="dashboard-container">
    <aside class="sidebar">
        <div id="uploadForm">
            <h2>Добавить файл</h2>
            <form action="/storage/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" required>
                <button type="submit">Загрузить выбранный файл</button>
            </form>
            <form action="/storage/new-folder" method="post">
                <input type="text" name="folder" placeholder="Имя папки" required>
                <button type="submit">Создать новую папку</button>
            </form>
        </div>
        <div id="fileActions" class="hidden">
            <h2>Выбрано файлов: <span id="selectedCount">0</span></h2>
            <form action="/storage/download" method="get">
                <input type="hidden" name="fileIds" id="downloadFileIds">
                <button type="submit">Скачать</button>
            </form>
            <form action="/storage/rename" method="post" id="renameForm">
                <input type="hidden" name="fileId" id="renameFileId">
                <input type="text" name="newName" placeholder="Новое имя" required>
                <button type="submit">Переименовать</button>
            </form>
            <form action="/storage/delete" method="post">
                <input type="hidden" name="fileIds" id="deleteFileIds">
                <button type="submit">Удалить</button>
            </form>
        </div>
    </aside>

    <main class="file-area">
        <div class="file-grid">
            <div class="file-item" th:each="folder : ${folders}">
                <input type="checkbox" class="file-checkbox">
                <img th:src="@{/images/folder.png}" sizes="100px" height="100">
                <div class="file-icon"  >
                    <span th:text="${folder.name}">Имя файла</span>
                </div>
            </div>
            <div class="file-item" th:each="file : ${files}">
                <input type="checkbox" class="file-checkbox">
                <img th:src="@{/images/file.png}" sizes="100px" height="100">
                <div class="file-icon"  >
                    <span th:text="${file.name}">Имя файла</span>
                </div>
            </div>
        </div>
</main>
</div>
</body>
</html>