<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atom Cloud - Storage</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/ui.js"></script>
</head>
<body>
<header th:replace="~{fragment/header :: header}"></header>
<div class="dashboard-container">

    <div th:replace="~{fragment/sidebar :: sidebar}"></div>
    <main th:replace="~{fragment/file-area :: file-area}"></main>

</div>
</body>
</html>