<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atom Cloud - Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:replace="~{fragment/header :: header}"></header>
<main th:if="${user}" class="dashboard-content">
    <h2>Добро пожаловать, <span th:text="${user}">Пользователь</span>!</h2>
    <p>Ваше облачное хранилище готово к работе.</p>
    <p th:if="${cloudSizeByUser}">Занято: <span th:text="${cloudSizeByUser.toString}"></span> MB</p>
    <button class="upload-btn" onclick="window.location.href='/storage'">Перейти в хранилище</button>
</main>
<main th:unless="${user}" class="dashboard-content">
    <h2>Добро пожаловать, <span>Гость</span>!</h2>
    <p>Зарегистрируйтесь или войдите для доступа к облачному хранилищу</p>
</main>

</body>
</html>